APP_ID=academy-core
PORT=3000
LOG_LEVEL=debug
REQUEST_LIMIT=100kb

#Swagger
SWAGGER_API_SPEC=/api/v1

ENCRYPTION_KEY=c22d26c7c8deba0168e395f18c55afa1

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=


MAIL_GUN_DOMAIN=
MAIL_GUN_API_KEY=
MAIL_GUN_API_HOST=
MAIL_GUN_FROM_EMAIL=
MAIL_GUN_FROM_NAME=Logezy Academy

#DB Details
DB_USER=postgres
DB_PASSWORD=
DB_PORT=27017
DB_HOST=127.0.0.1
DB_NAME=LogezyAcademy

#Payment Gateway
STRIPE_SECRET_KEY=
STRIPE_SUBSCRIPTION_SUCCESS_URL=https://app.skillbox.training/client/payment-success?session_id={CHECKOUT_SESSION_ID}
STRIPE_SUBSCRIPTION_FAILED_URL=https://app.skillbox.training/client/payment-failed
STRIPE_WEBHOOK_SECRET=

#UNIT_TESTING
UNIT_TESTING_AUTH_TOKEN=


#CERTIFICATE
CERTIFICATE_LOGO_DIR=skillbox
CERTIFICATE_TRAINER_NAME=Benjamin Wakefield
CERTIFICATE_CEO_NAME=Michael O’Connor